*{
    margin:0;
    padding:0;
}

body{
    background-color:rgb(0, 202, 172);
    text-align: center;
}

.container{
    height:70vh;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height: 18vmin;
    width:18vmin;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}